<!DOCTYPE html>
<html>
<head>
	<title>Todo List</title>
</head>
<body>
	<!-- <% - this is scriplet tag that is use for running code inside the EJS template -->
	<% if(theDay === "Saturday" || theDay === "Sunday"){ %>
		<h1 style="color: blue">Today is <%= today %>!</h1>
		<h3 style="color: blue">And the day today is <%= theDay %>!</h3>
 <%	}else{ %>
		<h1 style="color: green">Today is <%= today %>!</h1>
		<h3 style="color: green">And the day today is <%= theDay %>!</h3>
  <%	} %>
	
</body>
</html>